// Define variables for your color scheme

// For example:
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$peach: #FB9F6C;
$red: #FF0000;
$darkpeach: #b36338;
$darkred: #960000;
$gold: #EACA5A;
$yellow: #F5C51A;
$lightestyellow: #fffde3;
