.contain {
  width: 500px;
  height: auto;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  margin:auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding:30px;
}


.cart .title {
  margin-bottom: 16px;
  font-size: 0px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}
.cart .title:after {
  content: ":";
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}
.cart .content {
  font-size: 14px;
}

.cart_list {
  color: dimgray;
}
.cart_list .cart_item {
  display: flex;
  padding: 12px 0;
}
.cart_list .cart_item + .cart_item {
  border-top: 2px dashed #ccc;
}
.cart_list .cart_item .index {
  margin-left:20px;
  margin-right: 8px;
  width: 18px;
  overflow: hidden;
}
.cart_list .cart_item .trash a {
  color: #EACA5A;
}
.cart_list .cart_item .name {
  flex-grow: 1;
}
.cart_list .cart_item .price {
  color: #EACA5A;
  font-weight: bold;
}
.cart .total {
  padding: 12px 0;
  font-weight: bold;
  text-transform: uppercase;
  border-top: 2px solid #EACA5A;
}
.cart .total_price {
  float: right;
  color: #EACA5A;
}



.bod .info {
  margin-bottom: 24px;
  position: relative;
}

.bod .info .welcome {
  margin-bottom: 8px;
  font-weight: bold;
}
.bod .info .welcome .username {
  color: #EACA5A;
  font-size: 30px;
}
.bod .info p {
  color: dimgray;
  font-size: 20px;
}
