
.card-trip {
    overflow: hidden;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-color:#EACA5A;
    border-style: solid;
    margin: 0px 150px;
  }

  .card-trip > img {
    height: 370px;
    width: 50%;
    object-fit: cover;
  }

  .card-trip h2 {
    font-size: 16px;
    font-weight: bold;
  }

  .card-trip p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
  .card-trip .card-trip-infos {
    // padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }

  .float {
   float: right;
  }



