
.card-trip {
    overflow: hidden;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-color: lightgray;
    border-style: solid;
    margin: 60px 100px;
    margin-bottom: 20px;
  }

  .card-trip > img {
    height: 370px;
    width: 50%;
    object-fit: cover;
  }

  .card-trip > h1,h3 {
    font-size: 24px;
    font-weight: bold;
    padding: 150px 24px;
  }

  .flex  {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: relative;
  }
  .positioning-text {
    position: absolute;
    margin-left: 70px;
  }




