<div class="rest-of-page"></div>

<div class="footer">
  <div class="footer-links">
    <%= link_to "YumTum", root_path, class: "footer-link" %>
  </div>
  <div class="text-center flex">
    <figure>
    <blockquote class="blockquote">
    <p>Connecting hungry Tums with local Yums!</p>
    </blockquote>
    <figcaption class="blockquote-footer">YumTum</figcaption>
    </figure>
  </div>
  <div class="footer-copyright">
    <p>&copy; YumTum 2021</p>
  </div>
</div>
