<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fas fa-apple-alt"></i></a>
    <a href="#"><i class="fas fa-pizza-slice"></i></a>
    <a href="#"><i class="fas fa-stroopwafel"></i></a>
  </div>
    <div class="text-center flex">
      <figure>
       <blockquote class="blockquote">
        <p>Connecting hungry tums with local yums</p>
       </blockquote>
       <figcaption class="blockquote-footer">Yumtums<cite title="Source Title"></cite>
       </figcaption>
      </figure>
    </div>
      <div class="footer-copyright">
        <p>Yumtum 2021</p>
      </div>
</div>