<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <figure>
      <blockquote class="blockquote ">
        <p>Connecting hungry tums with local yums</p>
     </blockquote>
     <figcaption class="blockquote-footer">
       Yumtums <cite title="Source Title"></cite>
     </figcaption>
   </figure>
  </div>
  <div class="footer-copyright">
    <p>Yumtum 2021</p>
  </div>
</div>