<h2>Connecting hungry tums to local yums</h2>

<form class="simple_form search" action="/meals" accept-charset="UTF-8" method="get">
  <div class="search-form-control form-group">
    <input class="form-control string required" placeholder= "Enter your current postcode..." type="text" name="postcode" id="search_query" />
    <input class="btn btn-flat" type="submit" value="Search" />
  </div>
</form>
