<h2>Connecting hungry tums to local yums</h2>

<form class="simple_form search" action="/meals" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <div class="search-form-control form-group">
    <input class="form-control string required" placeholder= "Enter your current postcode..." type="text" name="postcode" id="search_query" />
    <button name="button"  class="btn btn-flat">
      <i class="fas fa-search"></i>Search
    </button>
  </div>
</form>
