<h1>We're all about connecting the hungriest of Tums with the tastiest of local Yums!</h1>
<p>Please pop your postcode into the box below to take a gander at all the tasty delights that await you!</p>

<form class="form-wrapper" action="/meals" accept-charset="UTF-8" method="get">
  <div class="form-group">
    <input class="form-control string required" placeholder= "Enter your current postcode..." type="text" name="postcode" id="search_query" />
    <input class="btn btn-flat" type="submit" value="Search" />
  </div>
</form>
