
<h1>Meals</h1>


<div class="cards">
<% @meals.each do |meal| %>
<div class="card-meal">
<img src="https://picsum.photos/400/300/?random=<%= meal.id %>" />
  <div class="card-meal-descr">
      <div class="text">
        <h3><%= meal.name %></h2>
        <p><%= meal.description %></p>
      </div>
      <h2 class="card-meal-pricing"><%= meal.price%></h2>

  </div>
</div>
<% end %>
</div>

