$peach: #FB9F6C;
$red: #FF0000;
$gold: #EACA5A;
$yellow: #F5C51A;

.navbar-lewagon {
  text-decoration: none;
  justify-content: space-between;
  background: white;
  height: 8vh;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-flat {
  padding: 5px 8px;
  border-radius: 40px;
  background: $gold;
  color:white;
  transition: background 0.3s ease;
  &:hover {
    background: $yellow;
    color: white;
  }
}

.nav-link {
  font-size: 25px;
  color: $gold;
  text-decoration: none;
  &:hover {
    color: $yellow;
  }
}
